{%extends 'base.html'%}
{%load static%}
{%include 'messages.html'%}
{%block content%}
<div class="container">
    <div class="row" style="margin-top:44px;">
        <h3 class="default-style"> About</h3><hr>
        <p class="default-style"> This project was made as a first year university project. This project was developed in django.
            A wallet address is a publicly available address that allows its owner to receive funds from another party. To access the funds in an address, you must have its private key.
            contractaddress:0xa7d1Ca330Df16a5D3f898014Ff3910448FC94660<br>
            TOKEN CONTRACT (WITH 10 DECIMALS):0xa7d1Ca330Df16a5D3f898014Ff3910448FC94660
        </p>

    </div>

</div>


{%endblock content%}