{%extends 'dashboard-base.html'%}
{%load static%}

{%block content%}

 <div class="row" >
{%include 'dashboard-menu.html'%}
 <div class="tab-content col-9 " style="margin-top:60px;margin-left:30px;margin-right:20px">

<h3 class="default-style"> Your Transaction List </h3><hr>
     <p class="default-style">You can check your placed transactions from bellow.If you have a problem with any of your order please let us know though live char or email. We will try to help you as early as possible.</p>

      <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Transaction ID</th>
      <th scope="col">Token value</th>
      <th scope="col">Price</th>
      <th scope="col">Date Transaction</th>
      <th scope="col">Transaction Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for transaction in transaction_id_list%}
      <th scope="row">{{transaction.transaction_id}}</th>
      <td>{{transaction.transaction_value}}</td>
      <td>{{transaction.transaction_price}}</td>
      <td>{{transaction.transaction_date}}</td>
      <td><a href="/dashboard/view_transaction/{{transaction.transaction_id}}"> View Transaction</a></td>
    </tr>
  {%endfor%}

  </tbody>

</table>
     <ul class="pagination">
    <li class="page-item">
        {%if  transaction_id_list.has_previous %}
        <li class="page-item"><a href="/dashboard/transactions?page=1" class="page-link" href="">First</a></li>
      <a class="page-link" href="/dashboard/transactions?page={{transaction_id_list.previous_page_number}}" tabindex="-1">{{transaction_id_list.previous_page_number}}</a>
    </li>

    {%else%}
         <li class="page-item disabled">
             <a class="page-link " href="#">First </a></li>


    {%endif%}

         <li class="page-item active">
      <a class="page-link  text-decoration-none" href="#">{{transaction_id_list.number}} <span class="sr-only">(current)</span></a>
    </li>

         {%if transaction_id_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="/dashboard/transactions?page={{transaction_id_list.next_page_number}}"> {{transaction_id_list.next_page_number}}</a>
      <li class="page-item">
       <a class="page-link" href="/dashboard/transactions?page={{transaction_id_list.paginator.num_pages}}">Last </a>
      </li>
    </li>
         {%else%}
         <li class="page-item disabled">
             <a class="page-link " href="#">Last </a></li>
         {%endif%}
  </ul>
        </div>
 </div>
{%endblock content%}